
:root {
    --color-Mainday2 : #F2726A;
    --color-success :#28a745;
    --color-failer :#dc3545;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
.day {
    text-align: center;
    color: aqua;
    padding: 16px 0;
    user-select: none;
}
.backgroundDay1 {
    background-image: linear-gradient(to right,#4daf54, #3d8880);
    width: 100%;
    height:625px;
}
.cart {
    width: 320px;
    height: 400px;
    margin: 40px auto;
    background-color: #272d40;
    border-radius: 24px;
    padding: 20px;
    position: relative;
}
.cart__heart {
}
.cart__heart,.cart__cast {
    font-size: 25px;
    position: absolute;
    top: 20px;
    color: #fff;
    z-index: 1;
}
.cart__cast {
    right: 20px;
}
.cart__img {
    width: 90%;
    user-select: none;
    transition: 0.5s;

}
.cart__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.cart__title {
    color: #4DAF54;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    user-select:inherit;
    transition: 0.5s;

}
.cart__price {
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
    transition: 0.5s;
    user-select: none;
}
.cart__size,.cart__color {
    display: flex;
    color: #fff;
    align-items: center;
    margin-bottom: 12px;
    transition: 0.5s;
    user-select: none;
}
.cart__color {
    margin: 12px 0;
    transition: 0.5s;
}
.cart__size span{
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #dadada;
    margin: 0 5px;
    color: #272d40;

}
.cart__color--black,.cart__color--green,.cart__color--red {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;

}
.cart__color--black {
    background-color: #000;
}.cart__color--red {
    background-color: red;
}.cart__color--green {
    background-color: #4daf54;
}
.cart__button {
    transition: 0.5s;

}
.cart__button button{
    background-color: #4daf54;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 5px;
    text-align: center;
    color: #fff;
    transition: 0.25s;

}
.cart:hover .cart__img {
    transform: translateY(-60px) rotate(-20deg);
}
.cart:hover .cart__title {
    transform: translate(-38px, -40px);
}
.cart:hover .cart__price {
    transform: translate(-115px, -40px);
}
.cart__color,.cart__size ,.cart__button {
    transform: translateY(130px);
    visibility: hidden;
    opacity: 0;
}
.cart:hover .cart__color {
    visibility: inherit;
    transform: translateY(-30px);
    opacity: 1;
}
.cart:hover .cart__size {
    visibility: inherit;
    transform: translateY(-30px);
    opacity: 1;

}
.cart:hover .cart__button {
    visibility: inherit;
    opacity: 1;
    transform: translateY(-30px);
}
.cart__button button:hover {
    transform: scale(90%);
}
.cart__button button ,.cart__cast ,.cart__color span ,.cart__size span ,.cart__heart {
    cursor: pointer;
}
/* ============== Day 02 ============================ */
.backgroundDay2 {
    background-image: linear-gradient(to right,#00853e, #50c878);
    width: 100%;
    height:625px;
}
.boxprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cardProfile {
    width: 300px;
    height: 400px;
    background-color: #242628;
    border-radius: 10px;
    margin: 0 30px;
    text-align: center;
    overflow: hidden;
}
.cardProfile__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--color-Mainday2);
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(30px);
    transition: 0.5s;
}
.cardProfile__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cardProfile__name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}
.cardProfile__description {
    color: var(--color-Mainday2);
    margin: 12px 0;
}
.cardProfile__icon {
    margin: 20px 0;
}
.cardProfile__icon a{
    color: #fff;
    font-size: 25px;
    margin: 0px 15px;
    transition: 0.25s;

}
.cardProfile__icon a:hover {
    color: var(--color-Mainday2);
}
.cardProfile__contact button{
    padding: 8px 32px;
    border-radius: 8px;
    border: 1px solid var(--color-Mainday2);
    background: #242628;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
}
.cardProfile__contact button:hover {
    background-color: var(--color-Mainday2);
}
.cardProfile__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    transform: unset;
    
}
/* ============================================== Day 03 ================================================== */
.backgroundDay3 {
    background-image: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
    width: 100%;
    height:625px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.25);
}
.modal-container {
    width: 450px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    animation: modalShow 0.25s linear;

}
.modal__header {
    display: flex;
    height:50px ;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #e26e70;
    color: #fff;
    font-size: 18px;

}
.modal__header i{
    cursor: pointer;
    user-select: none;
}
.modal__content {
    margin: 10px 16px;
}
.modal__content h2{
    color: #e26e70;
    font-size: 25px;
    margin-bottom: 12px;
}
.modal__footer {
    margin: 18px 16px;
    text-align: right;

}
.modal__footer button{
    padding: 5px 16px;
    border-radius: 8px;
    border: none;
    background-color: #e26e70;
    cursor: pointer;
    user-select: none;
}
.modalHide {
    display: none;
}
.openModalBtn {
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.openModalBtn button{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    color: #000;
    font-size: 18px;
    padding: 10px 18px;
    cursor: pointer;
    user-select: none;
}
@keyframes modalShow {
    0% {
        top:-200px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;

    }
}

/* =============================== Day 04 ================================================= */
.backgroundDay4 {
    width: 100%;
    height:625px;
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galleryImgs {
    margin: auto 0;
    width: 1200px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.imageItem {
    width: 22%;
    margin: 16px 0;
}
.imageItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    transition: 0.25s linear;
}
.imageItem:hover img{
    transform: scale(1.2);
}
.gallerryShow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.25s linear;
}
.gallerryShow-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.gallerryShow-content {
    width: 70%;
    height: 70%;
    margin: auto;
    align-self: center;
    overflow: hidden;
}
.gallerryShow-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
        
}
.close,.btnleft,.btnright {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    font-size: 35px;
    cursor: pointer;
}
.btnleft i,.btnright i{
    user-select: none;
}
.close {
    top: 15px;
    right: 25px;
    user-select: none;
}
.btnleft {
    user-select: none;
    left: 25px;
}
.btnright {
    user-select: none;
    right: 25px;
}
.showGallery {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);

}
/* ========================== Day 05 ===================================== */
.backgroundDay5 {
    width: 100%;
    height:625px;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox {
    position: relative;
    border-radius: 8px;

    width: 70px;
    height: 70px;
    background-color: #242628;
    overflow: hidden;
    transition: 0.25s linear ;

}
.searchBtn {
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
}
.searchBtn i{
    font-size: 24px;
}
.searchInput {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 20px 100px 20px 20px;
    color: #fff;
    font-size: 28px;
    outline: none;
}
.openSearchBox {
    width: 400px !important;
}
/* ===================================================================== */
.backgroundDay6 {
    background-color: #17A2B8;
    width: 100%;
    height:625px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.alertBackground {
    color: #17A2B8;
    background-color: #fff;
    padding: 10px 20px ;
    border-radius: 8px;
    font-size: 35px;
    user-select: none;
    
}
.hideAlert {
    display: none;
}
.cricleBox {
    width: 200px;
    height: 200px;
    border: 6px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
    margin: 0 auto;
    user-select: none;
}
.contentKey {
    display: flex;
    align-items: center;
    justify-content: center;

}
.contentKey__code,.contentKey__key,.contentKey__location,.contentKey__which{
    width: 200px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    margin: 64px  20px 0px;
}
.contentKeyName {
    color: #fff;
    height: 50px;
    width: 100%;
    background-color: #78C0C9;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
}
.contentKey__codeContent,.contentKey__locationContent,.contentKey__whichContent,.contentKey__keycontent {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    height: 50px;
}
.contentKey__keycontent {
    text-transform: uppercase;
}
.detectPressKey {
    display: none;
}
/* ========================================== 7 ============================== */
.backgroundDay7 {
    background-color: #8CC84C;
    width: 100%;
    height:625px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchTags {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.searchTags__name {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    padding: 20px 20px;
}
.searchTags__content {
    border: 1px solid #000;
    margin: 0 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.searchTags__tagItem {
    background-color: #8CC84C;
    color: #fff;
    padding:10px ;
    margin: 10px 0 10px 10px;
    border-radius: 8px;
    list-style-type: none;
    user-select: none;
    font-size: 16px;
    user-select: none;
}
.tagClose {
    margin-left: 10px;
    cursor: pointer;
}
.searchTags__input {
    user-select: none;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
}
.searchTags__btn {
    background-color: #8CC84C;
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    color: #fff;
    font-size: 20px;
    user-select: none;
}
/* ========================= 8 ================================ */
.backgroundDay8 {
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    width: 100%;
    height:625px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.validateForm {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 40px;

}
.mainTitle {
    margin: 20px;
    font-size: 35px;
    font-weight: 600;
}
.form-email,.form-password,.form-username {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    position: relative;
}
.userName,.email,.password,.password2 {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 2px solid #adadad;
}.form-username span {
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: var(--color-success);
    transition: 0.25s linear;
    top: 38px;
    left: 0;
}
.form-username input:focus~span {
    width: 100%;
}
.form-email span {
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: var(--color-success);
    transition: 0.25s linear;
    top: 38px;
    left: 0;
}
.form-email input:focus~span {
    width: 100%;
}
.form-password span {
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: var(--color-success);
    transition: 0.25s linear;
    top: 38px;
    left: 0;
}
.form-password input:focus~span {
    width: 100%;
}
.validateForm small {
    color: var(--color-failer);
}
.login {
    border: none;
    background-color: #2691D9;
    width: 100%;
    border-radius:30px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.5s;
}
.login:hover {
    background-color: #08609a;
}
.validateForm a{
    text-decoration: none;
    color: #2691D9;
}
.validateForm a:hover {
    text-decoration: underline;
}
.error input{
    border-bottom: 2px solid var(--color-failer);
    
}
.success input{
    border-bottom: 2px solid var(--color-success);
}
.validateForm form {
    width: 100%;
}
/* ======================================= 9 ============================================ */
.backgroundDay9 {
    background: linear-gradient(120deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2)) ,url(/acsets/img/hot.png) no-repeat center/cover;
    
    width: 100%;
    height:625px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentWeather {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s linear;
    
}
.hideContent {
    visibility: hidden;
    opacity: 0;
}
#weather {
    width: 30%;
    background: url(/acsets/img/hot.png) no-repeat center /cover;
    padding: 20px;
    border-radius: 8px;
}
.searchPlace {
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: 0.5s linear;

}
.searchPlace:focus {
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
}
.city,.comman,.country {
    font-size:32px;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 3px #000;
}
.hot .backgroundDay9{
    background: linear-gradient(120deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2)) ,url(/acsets/img/hot.png) no-repeat center/cover;
}
.hot{
    background: url(/acsets/img/hot.png) no-repeat center /cover !important;

}
.cold .backgroundDay9{
    background: linear-gradient(120deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2)) ,url(/acsets/img/cold.png) no-repeat center/cover;
}
.cold{
    background: url(/acsets/img/cold.png) no-repeat center /cover !important;

}
.capital {
    margin-top: 40px;
}
.times {
    margin:  20px 0;
}
.temperature {
    font-size: 60px;
    text-shadow: 3px 3px rgba(0,0,0,0.8);
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    font-weight: 800;
    
}
.moreDetail {
    font-size: 35px;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
    font-weight: 600;
    margin: 20px 0;

}
.footer-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}
.wind,.foresight,.humidity {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.footer-des i {
    margin-bottom: 5px;
}
